* {
    margin: 0px;
    background-color: rgb(13, 100, 166);
}

h1 {
    position: absolute;
    right: 108px;
    color: rgb(254, 247, 247);
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    margin: 18px 0px 0px 73px;
}

#search {
    margin: 54px 0px 0px 30px;
    /*border: 1px solid #ccc;*/
    border-radius: 4px;
    font-size: 16px;
    color: black;
    font-family: Calibri;
    position: absolute;
    right: 50px;
}

.fas.fa-search {
    background-color: rgb(207, 213, 211);
    color: rgb(7, 45, 73);
}

button {
    position: relative;
    margin-left: 10px;
    right: 0px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(207, 213, 211);
    border: 0px none;
    cursor: pointer;
    box-shadow: 2px 2px;
}

input {
    height: 35px;
    width: 150px;
    background-color: rgb(207, 213, 211);
    color: rgb(16, 42, 42);
    padding-left: 10px;
    box-shadow: 2px 2px;
    font-weight: bold;
}

/*#loupe {
    height: 25px;
    width: 30px;
}*/

#results {
    padding: 10px;
    background-color: rgb(207, 213, 211);
    color: rgb(16, 42, 42);
    box-shadow: 2px 2px;
    width: 142px;
    border: 1px solid white;
    /*border-right: 2px solid white;*/
    font-weight: bold;
    margin-top: 1px;
}

.result {
    padding: 10px;
    background-color: rgb(207, 213, 211);
    color: rgb(16, 42, 42);
    box-shadow: 2px 2px;
    width: 120px;
    border: 1px solid white;
    /*border-right: 2px solid white;*/
    font-weight: bold;
    margin-top: 1px;
}

.highlight {
    background-color: rgb(163, 149, 19);
}
