<div class="partial">
    <ul id="navbar">
        <!-- <li><a href="/city">Your City</a></li> -->
        <li><a href="/register">Register here</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signature">Sign here</a></li>
        <li><a href="/thankyou">Thank You For Signing</a> </li>
        <li><a href="/signerlist">List of Signatures</a></li>
        <li><a href="/userProfile">User Profile</a></li>
        <li><a href="/updateYourProfile">Update Your Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
